body {
    font-family: sans-serif;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: #111;
    color: #fff;
    z-index: 1000;
}
main {
    margin-top: 25px;
    margin-left: 220px;
    padding: 10px;
}
footer {
    padding: 1px 0;
    width: 100%;
    text-align: center;
    background-color: #111;
    color: #eee;
    a {
        color: #eee;
        text-decoration: none;
    }
}
.author {
    text-align: right;
    padding-right: 10px;
    h2 {
        font-size: 16px;
    }
}
.tiles {
    display: grid;
    gap: 10px;
}
.tile {
    position: relative; /* Ensure .tile-right is positioned relative to .tile */
}

.tile-right {
    display: none;
    position: absolute;
    top: 0;
    left: 70%;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 8px;
    z-index: 10;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: scale(0.95);
}

.tile-right.open {
    display: block;
    opacity: 1;
    transform: scale(1);
}

.tile-left {
    position: relative;
    z-index: 5;
}
.tile-image {
    pointer-events: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.camera-details,
.photo-exif {
    display: flex;
    flex-direction: column;
}
.photo-info {
    padding: 10px;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
    }
}

table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    color:#fff;
}
tr {
    border: 1px solid #ddd;
    padding: 8px;
}

td:first-child {
    display: inline-flex;
    width: auto;
    align-items: flex-end;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #111;
    color: #fff;
    padding: 10px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    a {
        color: #fff;
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            margin-bottom: 5px;
        }
    }
}
/* Hide the menu by default on smaller screens */
.menu.hidden {
    transform: translateX(-100%);
}

/* Hamburger button styles */
.hamburger {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #111;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
}
.photoButton {
    position: absolute;
    right: 0px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
}
/* Show the hamburger button on smaller screens */
@media (max-width: 768px) {
    main {
        margin-left: 0;
    }
    .hamburger {
        display: block;
    }

    .menu {
        width: 250px;
        transform: translateX(-100%);
        ul {
            padding-top: 25px;
        }
    }
    .menu.open {
        transform: translateX(0); /* Show the menu when open */
    }
    .tile-right {
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        transform: scale(1);
    }
}
